*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body{
	background-image:url(bg.png);
	background-position: center;
	background-size: cover;
	position: relative;
}
.signup{
	min-height: 100vh;
	width: 100%;
	
}
.h1{
	width: 800px;
	background-color:rgba(0,0,0,0.5);
	margin: auto;
	color: #ffffff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}
.form{
	background-color:rgba(0,0,0,0.5);
	width: 800px;
	margin: auto;
}
form{
	padding: 10px;
}
.name-one{
	margin-left: 25px;
	margin-top: 30px;
	width: 125px;
	color: white;
	font-size: 18;
	font-weight: 700;
}
.name{
	margin-left: 25px;
	width: 125px;
	color: white;
	font-size: 18;
	font-weight: 700;
}
.firstname{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px ;
	font-size: 16px;
}
.lastname{
	position: relative;
	left: 417px;
	top: -80px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px ;
	font-size: 16px;
	color: #555;
}
.firstlable{
	position: relative;
	color: #e5e5e5 ;
	text-transform: capitalize;
	font-size: 14px;
	left:207px ;
	top: -43px;
}
.lastlable{
	position: relative;
	color: #e5e5e5 ;
	text-transform: capitalize;
	font-size: 14px;
	left:175px ;
	top: -43px;
}
.gender{
	position: relative;
	left: 200px;
	top: -30px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0 22px ;
	font-size: 16px;
	color:white;
}
.email{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 480px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: black;
}
.number{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 480px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: black;
}
.password{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 480px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: black;
}
.confirm_pass{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 480px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: black;
}
.submit{
	position: relative;
	left: 350px;
	top: -37px;
	line-height: 40px;
	width: 100px;
	border-radius: 6px;
	padding: 0 22px;
	font-size: 16px;
	color: black;
	cursor: pointer;
}
.submit:hover{
	background-color: lightgrey;
}
.p{
	color: white;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}
.media{
	position: relative;
	left: 80px;
	top: 15px;
}
li{
	list-style: none;
	margin: 10px 30px;
	display: inline-block;
	font-size: 20px;
	color: white;
	border: 1px solid #fff;
	padding: 20px 20px;
	border-radius: 50%;
	transition: 0.5s;
}
li:hover{
	color: yellow;
	border: 1px solid yellow;
}
a{
	text-decoration: none;
	color: black;
}